body {
    font-family: monospace;
    color: rgb(255, 255, 255);

    background-color: rgb(19, 19, 19);
}

div {
    border-radius: 10px;
    background-color: rgb(10, 10, 10);

    margin: 2%;
}

h1 {
    padding: 17px;
    text-align: center;
}